/* Override theme accent color (orange-like) with green */
a {
  color: #b2180f;
}

a:hover {
  color: #6b0c07;
}

details summary {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1em;
  color: #834946;
}

details[open] summary {
  font-weight: bold;
}
